//fonts
$font: 'Hanken Grotesk', sans-serif;
$font-size: 1.125rem;
$font-weight1:500;
$font-weight2:700;
$font-weight3:800;

// colors
:root{
    // primary colors
    --light-red: hsl(0, 100%, 67%);
    --light-red-2: hsl(0, 100%, 96%);
    --orangey-yellow:hsl(39, 100%, 56%);
    --orangey-yellow-2: hsl(39, 100%, 94%);
    --green-teal:hsl(166, 100%, 37%);
    --green-teal-2: hsl(166, 100%, 94%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-2: hsl(234, 100%, 94%);
    // graidents
    --light-slate-blue-background:hsl(252, 100%, 67%);
    --light-royal-blue-background:hsl(241, 81%, 54%);
    --violet-blue-circle:hsla(256, 72%, 46%, 1);
    --persian-blue-circle:hsla(241, 72%, 46%, 0);
    // neutral
    --white: hsl(0, 0%, 100%);
    --pale-blue:hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue:hsl(224, 30%, 27%);
    --gray: #BFC6C4;
}

*::before, *::after, *{
    box-sizing: border-box;
    font-size: $font-size;
    font-family: $font;
}

body, main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 0;
}

.parent_container{
    background-color: var(--white);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.result_card{
    background-image: linear-gradient(to bottom, var(--light-slate-blue-background), var(--light-royal-blue-background) );
    border-bottom-left-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-lavender);
    box-shadow: 10px 45px 20px var(--pale-blue);

    h2{
        font-size: 1.5rem;
    }
    span, h2{
        color: var(--white);
    }

    .score{
        width: 12.5rem;
        border-radius: 50%;
        height:12.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, var(--violet-blue-circle), var(--persian-blue-circle));

        span{
            font-size: 3rem;
        }

        p{
            margin:0;
            padding: 0;
        }
    }

    .review{
        font-size: 1rem;
        width: 15.625rem;
        text-align: center;
    }
}

.summary_card{
    height: 100%;
    width: 17.2rem;
    display: grid;
    grid-template-rows: repeat(6, 4.1rem);
    padding-top: 0.94rem;
    
        h3{
            font-size: clamp(1rem, 2vw, 1.15rem);
        }

        .metric{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 3.125rem;
            width: 17.9rem;
            margin: 0;
            padding: 0;

            .metric_attribute{
                display: flex;
                align-items: center;
                width: 12.5rem;
            }

            .icon{
                margin-left: 0.625rem;
                height: 1.875rem;
            }

            p{
                margin-right: 2.65;
                font-size: 0.85rem;
            }

            .rate{
                padding-right: 0.94rem;
                font-size: 0.85rem;
                color: var(--gray);

                span{
                    font-size: 0.85rem;
                    font-weight: $font-weight3;
                    color: var(--dark-gray-blue);
                }
            }
           

            &:nth-child(2){
                background-color: var(--light-red-2);
                border-radius: 0.625rem;
                justify-self: center;

                p{
                    color: var(--light-red);
                }
            }

            &:nth-child(3){
                background-color: var(--orangey-yellow-2);
                border-radius: 0.625rem;
                justify-self: center;
                    p{
                    color: var(--orangey-yellow);
                }
            }

            &:nth-child(4){
                background-color: var(--green-teal-2);
                border-radius: 0.625rem;
                justify-self: center;
                    p{
                    color: var(--green-teal);
                }
            }

            &:nth-child(5){
                background-color: var(--cobalt-blue-2);
                border-radius: 0.625rem;
                justify-self: center;

                    p{
                    color: var(--cobalt-blue);
                }
            }
        }

        .continue{  
            justify-self: center;
            height:3.125rem;          
            width: 100%;
            border-radius: 1.56rem;
            border: none;
            background-image: linear-gradient(var(--dark-gray-blue));
            color:var(--white);
            font-size: 1rem;
            transition: background-image 0.5s ease;
        }

        .continue:hover{
            background-image: linear-gradient(to bottom,var(--light-slate-blue-background), var(--light-royal-blue-background   ));
        }
        
        .continue:focus{
            outline: 2px solid black;
            outline-offset: .25rem;
        }
}

@media(min-width:40rem){
    body,main{
        background-color: var(--pale-blue);
        height: 100vh;
    }
   
    .parent_container{
        height: 28.1rem;
        width: 37.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        border-radius: 1.9rem;
    }

    .result_card{
        border-radius: 1.9rem;
        height: 100%;
        max-width: 19rem;
        display: flex;
        color: var(--light-lavender);
        box-shadow: none;

        .score{
            height: 11rem;
            width: 11rem;
        }

        h2{
            margin: 0;
        }
    }

    .summary_card{
        max-height: 25rem;
        max-width: 15.6rem;
        padding-left: 1.56rem;

        .metric{
            height: 2.81rem;
            width: 15.6rem;
        }
    }
}